VITE_FIREBASE_API_KEY=AIzaSyDLRtGWjZKjUQ-4_-sm5akSaw1ohtbx2bQ
VITE_FIREBASE_AUTH_DOMAIN=quanlyhoatdong-278e0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quanlyhoatdong-278e0
VITE_FIREBASE_STORAGE_BUCKET=quanlyhoatdong-278e0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=657133845144
VITE_FIREBASE_APP_ID=1:657133845144:web:67e0d3fcc269ad832e2eed
VITE_ENABLE_BOOTSTRAP_SUPER_ADMIN=false
VITE_APP_BASE_PATH=/hoat-dong/
VITE_LOGIN_APP_URL=/login
VITE_ADMIN_APP_URL=/hoat-dong
ADMIN_EMAIL=
ADMIN_PASSWORD=
