# Fire base QuanLyHoatDong
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_ENABLE_BOOTSTRAP_SUPER_ADMIN=
# Firebase Login
VITE_IDENTITY_FIREBASE_API_KEY=
VITE_IDENTITY_FIREBASE_AUTH_DOMAIN=
VITE_IDENTITY_FIREBASE_PROJECT_ID=
VITE_IDENTITY_FIREBASE_STORAGE_BUCKET=
VITE_IDENTITY_FIREBASE_MESSAGING_SENDER_ID=
VITE_IDENTITY_FIREBASE_APP_ID=

# Tài khoản
ADMIN_EMAIL=
ADMIN_PASSWORD=

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Path
VITE_APP_BASE_PATH=/hoat-dong/
VITE_LOGIN_APP_URL=/login/
VITE_GATEWAY_API_BASE=
